@using System.Security.Claims
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    var userRole = User.FindFirstValue(ClaimTypes.Role);
}

@if (userRole == "Admin")
{
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Garbage Collection Schedule
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Create new Garbage Collection Schedule</h5>
                        <p class="card-text">Click the button below to create.</p>
                        <a href="/GarbageCollectionSchedule/GarbageCollectionScheduleEdit" class="btn btn-primary">Add New Garbage Collection Schedule</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card" style="width: auto;">
                    <div class="card-header">
                        New Users
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach(var user in Model.Users)
                        {
                            <li class="list-group-item">@(user.FirstName + " " + user.LastName + " (" + user.Email + ")")</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: auto;">
                    <div class="card-header">
                        Garbage Collection Schedules
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach(var sched in Model.GarbageCollectionSchedules)
                        {
                            <li class="list-group-item">@(sched.DayOfWeek.Day + " " + sched.FrequencyType.FrequencyName + " " + sched.CollectionTime.ToString("hh:mm tt"))</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else if (userRole == "Home Owner")
{
    <div class="text-center">
        <h1 class="display-4">Home Owner DashBoard - WIP</h1>
        <p>Working in progress</p>
    </div>
}
else if (userRole == "Garbage Collector")
{
    <div class="text-center">
        <h1 class="display-4">Garbage Collector DashBoard - WIP</h1>
        <p>Working in progress</p>
    </div>
}





