@using System.Security.Claims
@model List<SmartWasteCollectionSystem.Models.User>
@{
    ViewData["Title"] = "Dashboard";
    var userRole = User.FindFirstValue(ClaimTypes.Role);
}

@if (userRole == "Admin")
{
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Garbage Collection Schedule
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/GarbageCollectionSchedule/GarbageCollectionScheduleEdit" class="btn btn-primary">Add New Garbage Collection Schedule</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card" style="width: auto;">
                    <div class="card-header">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: auto;">
                    <div class="card-header">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else if (userRole == "Home Owner")
{
    <div class="text-center">
        <h1 class="display-4">Home Owner DashBoard - WIP</h1>
        <p>Working in progress</p>
    </div>
}
else if (userRole == "Garbage Collector")
{
    <div class="text-center">
        <h1 class="display-4">Garbage Collector DashBoard - WIP</h1>
        <p>Working in progress</p>
    </div>
}





