@model List<SmartWasteCollectionSystem.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DashBoard - WIP</h1>
    <p>Working in progress</p>
</div>